zig-macos-aarch64-0.14.0-dev.2643+fb43e91b2.tar.xz
zig-macos-aarch64-0.14.0-dev.2643+fb43e91b2/*
!zig-macos-aarch64-0.14.0-dev.2643+fb43e91b2/zig.patch
qemu/*
!qemu/qemu.patch
build/
iotest.dump
iotest.readelf
log.txt
